{{ 'featured-product.css' | asset_url | stylesheet_tag }}
<script src="{{ 'featured-product.js' | asset_url }}" defer></script>
{% assign selected_product = all_products[section.settings.product_selected] %}

{% if selected_product != blank %}
  <section class="featured-product">
    <div class="featured-product__imgs">
      {{
        selected_product.featured_image
        | image_url: width: 500
        | image_tag: loading: 'lazy', class: 'featured-product__selected-img'
      }}
      <ul class="featured-product__list">
        {% for product_image in selected_product.images %}
          {% if forloop.first %}
            <li class="featured-product__item">
              {{
                product_image
                | image_url: width: 350
                | image_tag: loading: 'lazy', class: 'featured-product__img selected'
              }}
            </li>
          {% else %}
            <li class="featured-product__item">
              {{ product_image | image_url: width: 350 | image_tag: loading: 'lazy', class: 'featured-product__img' }}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="featured-product__informations">
      <div class="featured-product__header">
        <span class="featured-product__badge"> {{ selected_product.metafields.custom.badge }}</span>
        <h1 class="featured-product__title">{{ selected_product.title }}</h1>
        <div class="featured-product__prices">
          <span class="featured-product__discount">
            {{- selected_product.price | money }}
          </span>
          <span class="featured-product__real-price">{{ selected_product.compare_at_price | money }}</span>
        </div>
      </div>
      <p class="featured-product__description">{{ selected_product.description | strip_html }}</p>

      <div class="featured-product__options">
        {% assign colors = selected_product.metafields.custom.colors.value %}
        <p class="featured-product__label">
          {{ section.settings.color_name_id }}
          <span class="featured-product__color-name"></span>
        </p>
        <ul class="featured-product__colors">
          {% for color in colors %}
            {% if forloop.first %}
              <li
                class="featured-product__color selected-color"
                style="background: {{ color.hex }}"
                data-color-name="{{ color.name }}"
              ></li>
            {% else %}
              <li
                class="featured-product__color"
                style="background: {{ color.hex }}"
                data-color-name="{{ color.name }}"
              ></li>
            {% endif %}
          {% endfor %}
        </ul>
        {% assign warranty = selected_product.metafields.custom.warranty.value %}
        <p class="featured-product__label">{{ section.settings.warranty_id }}</p>
        <ul class="featured-product__warranty">
          {% for option in warranty %}
            {% if forloop.first %}
              <li class="featured-product__warranty-option selected-warranty">{{ option.type }}</li>
            {% else %}
              <li class="featured-product__warranty-option">{{ option.type }}</li>
            {% endif %}
          {% endfor %}
        </ul>

        <div class="featured-product__buy-section">
          {% if selected_product != blank %}
            <div class="featured-product__quantity">
              <span class="featured-product__quantity-btn minus-btn">
                {% if selected_product != blank %}
                  {% render 'minus-icon' %}
                {% endif %}
              </span>
              <span class="featured-product__quantity-value">1</span>
              <span class="featured-product__quantity-btn plus-btn">
                {% if selected_product != blank %}
                  {% render 'plus-icon' %}
                {% endif %}
              </span>
            </div>
            <button type="button" class="featured-product__buy-btn">
              {% render 'shopping-cart' %}
              {{ section.settings.button_id }}
            </button>
          {% endif %}
        </div>

        {% assign trust_blocks = section.blocks | where: 'type', 'trust_badge' %}
        {% if trust_blocks != blank %}
          <ul class="featured-product__trust-badge-list">
            {% for block in trust_blocks %}
              <li class="featured-product__trust-badge" {{ block.shopify_attributes }}>
                {% case block.settings.icon %}
                  {% when 'shipping' %}
                    {% render 'shipping-icon' %}
                  {% when 'safe-payment' %}
                    {% render 'safe-payment-icon' %}
                  {% when 'return' %}
                    {% render 'return-icon' %}
                  {% when 'custom' %}
                    {{ block.settings.custom_icon | image_url: width: 24 | image_tag: loading: 'lazy' }}
                {% endcase %}
                {{ block.settings.text }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}

<style>
  .featured-product__badge {
    background: {{ section.settings.badge_bacakground }};
    color: {{ section.settings.badge_text_color }};
    font-size: {{ section.settings.badge_text_size }}px
  }
  .featured-product__title {
   color: {{ section.settings.product_title_color }};
   font-size: {{ section.settings.product_title_size }}px
  }

  .featured-product__warranty-option {
    background: {{ section.settings.warranty_options_background }};
    color: {{ section.settings.warranty_options_color }};
    font-size: {{ section.settings.warranty_options_text_size }}px;
  }

  .selected-warranty {
    background: {{ section.settings.selected_warranty_background }};
    color: {{ section.settings.selected_warranty_color }}
  }

  .featured-product__buy-btn {
    background: {{ section.settings.buy_button_background }};
    color: {{ section.settings.buy_button_color }};
    font-size: {{ section.settings.buy_button_font_size }}px
  }
</style>

{% schema %}
{
  "name": "Produto em Destaque",
  "settings": [
    {
      "type": "product",
      "id": "product_selected",
      "label": "Selecione o Produto"
    },
    {
      "type": "text",
      "id": "color_name_id",
      "label": "Título das Cores"
    },
    {
      "type": "text",
      "id": "warranty_id",
      "label": "Título Garantia"
    },
    {
      "type": "text",
      "id": "button_id",
      "label": "Texto Botão"
    },
    {
      "type": "header",
      "content": "Configurações do Badge"
    },
    {
      "type": "color",
      "id": "badge_bacakground",
      "label": "Cor do Fundo",
      "default": "#ffb84d"
    },
    {
      "type": "color",
      "id": "badge_text_color",
      "label": "Cor do Texto",
      "default": "#703800"
    },
    {
      "type": "range",
      "id": "badge_text_size",
      "min": 8,
      "max": 18,
      "step": 1,
      "unit": "px",
      "label": "Tamanho do Texto",
      "default": 18
    },
    {
      "type": "header",
      "content": "Configurações do Título"
    },
    {
      "type": "color",
      "id": "product_title_color",
      "label": "Cor do Título",
      "default": "#0b1220",
    }, 
    {
      "type": "range",
      "id": "product_title_size",
      "min": 32,
      "max": 48,
      "label": "Tamanho do Título",
      "default": 40
    },
    {
      "type": "header",
      "content": "Configurações da Garantia"
    },
    {
      "type": "color",
      "id": "selected_warranty_background",
      "label": "Cor do Fundo (Selecionado)",
      "default": "#0b76ff"
    },
    {
      "type": "color",
      "id": "selected_warranty_color",
      "label": "Cor do Texto (Selecionado)",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "warranty_options_background",
      "label": "Cor do Fundo (Não Selecionado)",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "warranty_options_color",
      "label": "Cor do Texto (Não Selecionado)",
      "default": "#0b1220"
    }, 
    {
      "type": "range",
      "id": "warranty_options_text_size",
      "max": 20,
      "min": 16,
      "label": "Tamanho do Texto",
      "default": 16
    },
    {
      "type": "header",
      "content": "Configurações do Botão de Comprar"
    },
    { 
      "type": "color",
      "id": "buy_button_background",
      "label": "Cor do Fundo",
      "default": "#0b76ff"
    },
    {
      "type": "color",
      "id": "buy_button_color",
      "label": "Cor do Texto",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "buy_button_font_size",
      "max": 20,
      "min": 16,
      "label": "Tamanho do Texto",
      "default": 20
    }
  ],
  "blocks": [
    {
      "name": "Selo de Confiança",
      "type": "trust_badge",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Ícone",
          "options": [
            { "value": "shipping", "label": "Frete" },
            { "value": "safe-payment", "label": "Pagamento Seguro" },
            { "value": "return", "label": "Devolução" },
            { "value": "custom", "label": "Selecionar Ícone" }
          ]
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Ícone"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Texto do Selo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Produto em Destaque",
      "settings": {
        "color_name_id": "Cor: ",
        "warranty_id": "Garantia Estendida",
        "button_id": "Adicionar ao Carrinho"
      },
      "blocks": [
        {
          "type": "trust_badge",
          "settings": {
            "icon": "shipping",
            "text": "Frete grátis para todo o Brasil"
          }
        },
        {
          "type": "trust_badge",
          "settings": {
            "icon": "safe-payment",
            "text": "Pagamento 100% seguro e criptografado"
          }
        },
        {
          "type": "trust_badge",
          "settings": {
            "icon": "return",
            "text": "Devolução grátis em até 30 dias"
          }
        }
      ]
    }
  ]
}
{% endschema %}
