{{ 'featured-product.css' | asset_url | stylesheet_tag }}
<script src="{{ 'featured-product.js' | asset_url }}" defer></script>
{% assign selected_product = all_products[section.settings.product_selected] %}

<section class="featured-product">
  <div class="featured-product__imgs">
    {% if selected_product.featured_image != blank %}
      {{
        selected_product.featured_image
        | image_url: width: 350
        | image_tag: loading: 'lazy', class: 'featured-product__selected-img'
      }}
    {% endif %}
    <ul class="featured-product__list">
      {% for product_image in selected_product.images %}
        {% if forloop.first %}
          <li class="featured-product__item">
            {{
              product_image
              | image_url: width: 350
              | image_tag: loading: 'lazy', class: 'featured-product__img selected'
            }}
          </li>
        {% else %}
          <li class="featured-product__item">
            {{ product_image | image_url: width: 350 | image_tag: loading: 'lazy', class: 'featured-product__img' }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div class="featured-product__informations">
    <div class="featured-product__header">
      <span class="featured-product__badge"> {{ selected_product.metafields.custom.badge }}</span>
      <h1 class="featured-product__title">{{ selected_product.title }}</h1>
      <span class="featured-product__discount">
        {{- selected_product.price | money }}
        <span class="featured-product__price">{{ selected_product.compare_at_price | money }}</span></span
      >
    </div>
    <p class="featured-product__description">{{ selected_product.description | strip_html }}</p>

    <div class="featured-product__options">
      {% assign colors = selected_product.metafields.custom.colors.value %}
      <p class="featured-product__label">
        {{ section.settings.color_label }}
        <span class="featured-product__color-name"></span>
      </p>
      <ul class="featured-product__colors">
        {% for color in colors %}
          {% if forloop.first %}
            <li
              class="featured-product__color selected-color"
              style="background: {{ color.hex }}"
              data-color-name="{{ color.name }}"
            ></li>
          {% else %}
            <li
              class="featured-product__color"
              style="background: {{ color.hex }}"
              data-color-name="{{ color.name }}"
            ></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Produto em Destaque",
  "settings": [
    {
      "type": "product",
      "id": "product_selected",
      "label": "Selecione o Produto"
    },
    {
      "type": "text",
      "id": "color_label",
      "label": "Título"
    }
  ],
  "presets": [
    {
      "name": "Produto em Destaque"
    }
  ]
}
{% endschema %}
